# IDE files
.vscode/
# environment configuration files
.env
*.env
passwd
.xlsx
*.xlsx
*.acl
*.log
*.tmp
*.bak
*.cache
# Platform connection files
*.pem
*_connection_info.json
# python cache files
__pycache__/
# mosquitto directories
mosquitto-data
mosquitto-log
# influxdb directories
influxdb2-config
influxdb2-data
# Dependency directories
node_modules
project_env
nextjs